body {
    margin: 0;
    padding: 0;
    color: white;
    flex-direction: column; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    background-color: black;
    overflow-x: hidden;
}
button {
    padding: 20px 40px;
    font-size: 2rem;
    border: none;
    background-color: none;
    background-color: gray;
    color: white;
    cursor: pointer;
}
.functional {
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    background-color: none;
    background-color: gray;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: rgb(85, 85, 85);
}
canvas {
    width: 100vw;
    height: 100vh;
}
.tmp {
    color: rgb(150, 73, 18);
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
p {
    font-size: 1.4rem;
}


/* SHOP CSS */
.shop {
    width: 800px;
    background-color: grey;
    box-shadow: 0 0 0 7px rgb(0, 0, 0),
                0 0 0 14px rgb(58, 58, 58),
                0 0 0 21px rgb(0, 0, 0),
                0 0 0 28px rgb(58, 58, 58);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
}
.shop .container {
    max-height: 600px;
    overflow-y: auto;
}
.shop ul {
    min-width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.shop h3 {
    font-size: 3rem;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    border-bottom: 5px solid black;
}
.shop li {
    display: flex;
    height: 200px;
    min-width: 790px;
    border-bottom: 5px dashed black;
    justify-content: space-between;
}
.shop li:hover {
    background-color: rgb(58, 58, 58);
    cursor: pointer;
}
li h4 {
    font-size: 3rem;
    margin: 10px 0 0 0;
}
li .left {
    margin-left: 15px;
}
li .price {
    margin-bottom: 20px;
    margin-right: 20px;
    align-self: flex-end;
    font-size: 2rem;
    background-color: black;
    padding: 5px 10px;
}
.hide {
    display: none !important;
}