@keyframes rotate {
    0% {
        scale: 1;
        transform: rotate(0deg);
    }
    25% {
        scale: 1.2;
        transform: rotate(-10deg);
    }
    75% {
        scale: 1.1;
        transform: rotate(10deg);
    }
    100% {
        scale: 1;
        transform: rotate(0deg);
    }
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding: 40px 0;
    box-shadow: 0 4px 55px rgba(255, 255, 255, 0.215);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.hero .wrapper {
    margin: 20px 50px;
}
.hero p {
    max-width: 1000px;
}
.hero img {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 300px;
}
main {
    display: flex;
    flex-direction: column;
}
body {
    position: relative;
}
.welcome {
    position: absolute;
    bottom: 1050px;
    right: 80px;
    font-size: 2.5rem;
    animation: rotate 2s linear infinite;
    cursor: pointer;
    z-index: 9;
}
.main {
    font-size: 1.5rem;
}
nav {
    position: absolute;
    top: 0px;
    z-index: 10;
}
nav ul {
    padding: 0;
    margin: 20px 0 0 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav li {
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
}
nav a {
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
    color: chartreuse;
}
nav li:hover {
    color: chartreuse;
}

@media screen and (max-width: 1400px) {
    .hero {
        padding: 50px 0 300px 0;
    }
}
@media screen and (max-width: 780px) {
    h1 {
        font-size: 2rem;
    }
    .hero p {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 500px) {
    nav li {
        font-size: 1rem;
    }
    .welcome {
        font-size: 1.8rem;
        bottom: 1100px;
    }
    main {
        margin-left: 10px;
    }
}
@media screen and (max-width: 630px) {
    nav {
        scale: 0.9;
    }
}
@media screen and (max-width: 520px) {
    nav {
        scale: 0.8;
    }
}