ul.leaderboards-menu {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}
ul.leaderboards-menu li {
    border-bottom: 2px solid gray;
    background-color: rgb(21, 21, 21);
    font-size: 2rem;
    padding: 10px 80px;
    cursor: pointer;
}
ul.leaderboards-menu li:hover {
    background-color: rgb(51, 51, 51);
    border-bottom: 2px solid white;
}
ul.leaderboards-menu li.active {
    background-color: rgb(51, 51, 51);
    border-bottom: 2px solid chartreuse;
}
table {
    border-spacing: 0px;
    font-size: 1.5rem;
}
table thead {
    font-weight: 700;
}
th,td {
    text-align: start;
    padding: 5px 10px;
}
tr:nth-child(odd) {
    background-color: rgb(25, 25, 25);
}
table a {
    color: chartreuse;
}