h1 {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
button {
    margin-top: 20px;
}
input {
    width: 250px;
    padding: 5px;
    border-radius: 5px;
    background-color: black;
    border-radius: 2px solid gray;
    color: white;
    font-size: 1.5rem;
    border: 2px solid rgb(31, 31, 31);
}
input::placeholder {
    font-size: 1.5rem;
    color: rgb(73, 73, 73);
}
