<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jakubland - dungeon</title>
    <link rel="stylesheet" href="/static/css/game.css">
</head>
<body>
    <main>
        <h1>Vitaj! Testujem nový mód. . .</h1>
        <a href="/"><h2>Späť Domov ☺</h2></a>
    </main>
    <canvas style="border: 1px solid gray;"></canvas>
    <button class="start">Click to start!</button>

    <main class="shop upgrades hide">
        <h3>Shop</h3>
        <div class="container">
            <ul>
                <li data="pickaxe">
                    <div class="left">
                        <h4 class="heading">Stone Pickaxe</h4>
                        <p class="desc">Lets you mine STONE!</p>
                        <p class="tier">T1</p>
                    </div>
                    <div class="price">15$</div>
                </li>
                <li data="bag">
                    <div class="left">
                        <h4 class="heading">Humongous Pouch</h4>
                        <p class="desc">Make your bag carry more ROCKS</p>
                        <p class="tier">T1</p>
                    </div>
                    <div class="price">25$</div>
                </li>
                <li data="lamp">
                    <div class="left">
                        <h4 class="heading">OLED lamp</h4>
                        <p class="desc">Increases the strength of your LAMP</p>
                        <p class="tier">T1</p>
                    </div>
                    <div class="price">35$</div>
                </li>
                <li data="swiftPickaxe">
                    <div class="left">
                        <h4 class="heading">Swift Pickaxe</h4>
                        <p class="desc">Ability to mine faster!</p>
                        <p class="tier">T1</p>
                    </div>
                    <div class="price">100$</div>
                </li>
                <li data="cardio">
                    <div class="left">
                        <h4 class="heading">Swift Pickaxe</h4>
                        <p class="desc">Ability to mine faster!</p>
                        <p class="tier">T1</p>
                    </div>
                    <div class="price">100$</div>
                </li>
                <li data="diagonal">
                    <div class="left">
                        <h4 class="heading"></h4>
                        <p class="desc"></p>
                        <p class="tier"></p>
                    </div>
                    <div class="price"></div>
                </li>
                <li data="compaas">
                    <div class="left">
                        <h4 class="heading"></h4>
                        <p class="desc"></p>
                        <p class="tier"></p>
                    </div>
                    <div class="price"></div>
                </li>
            </ul>
        </div>
    </main>
    <main class="shop tools hide">
        <h3>Tools Shop</h3>
        <div class="container">
            <ul>
                <li data="dynamite">
                    <div class="left">
                        <h4 class="heading">Stone Pickaxe</h4>
                        <p class="desc">Lets you mine STONE!</p>
                        <p class="tier">T1</p>
                    </div>
                    <div class="price">15$</div>
                </li>
            </ul>
        </div>
    </main>
    <br>
    <script src="static/dungeon.js" type="module"></script>
</body>
</html>