{% extends "template.html" %}

{% block title %} 
    <title>Hlavná stránka</title> 
    <link rel="stylesheet" href="static/index.css">
{% endblock %}

{% block body %}

    {% if name %}
    <a href="/profile"><h2 class="welcome">Vitaj, {{ name }}</h2></a>
    {% endif %}
    
    <section class="hero">
        <div class="wrapper">
            <h1>Jakubland: Question of the Blue Diamond?</h1>
            <p class="main">
                V Jakublande poznajú legendu o modrom diamante.<br>
                No pri pátraní po ňom sa narazilo aj na veci, o ktorých sa už nehovorí.<br>
                Nie všetky objavy boli určené pre svetlo.<br>
            </p>
        </div>
        {% if name %}
        <img src="static/img/profile.png" alt="access profile by clicking up">
        {% endif %}
    </section>
    <main>
        <br>
        <h2>Ak chceš hrať musíš sa <a href="/register">registrovať!</a></h2>
        <div class="content">
            <p>Ak sa pýtaš, Načo vôbec toto robíš??</p>
            <p>Preto lebo tento projekt je ako môj final project v kurze CS50x</p>
        </div>
        <h2>Ak si už registrovaný klikni na tlačidlo dole!</h2>
        <a href="/game"><button>¡Excavar!</button></a>
    </main>
    <script>
        const list = ["white", "red", "blue", "lime", "yellow", "orange", "green"]
        var i = 0
        setInterval(() => {
            i = i > 6 ? 0 : i + 1
            document.querySelector(".welcome").style.color = list[i];
        }, 500);
    </script>

{% endblock %}