{% extends "template.html" %}

{% block title %} 
    <title>Leaderboards</title> 
    <link rel="stylesheet" href="/static/css/leaderboards.css">
{% endblock %}

{% block body %}
<br><br>
<h1>Leaderboards</h1>
<ul class="leaderboards-menu">
    <li class="active">Time</li>
    <li>Cash</li>
    <li>TNT</li>
    <li>Wins</li>
</ul>
<br><br>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Time</th>
            <th>Money</th>
            <th>TNT</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>
<script src="/static/leaderboards.js"></script>

{% endblock %}