{% extends "template.html" %}

{% block title %} 
    <title>Profile</title> 
    <link rel="stylesheet" href="/static/css/profile.css">
{% endblock %}

{% block body %}
<main>
    <br><br><br>
    <div class="username">
        <img src="/static/img/profilePic.svg" alt="profile">
        <h1>{{ data[0] }}</h1>
    </div>
    <div class="wins">
        <img src="/static/img/crown.svg" alt="wins">
        <p>{{ data[3] }}</p>
    </div>
    <div id="data" data-time="{{ time }}"></div>
    <h2>Stats</h2>
    <ul>
        <li id="time"></li>
        <li>Best cash:  {{ money }} </li>
        <li>Best tnt: {{ tnt }} </li>
    </ul>
    <h2>Resources:</h2>
    <ul>
        <li>{{ data[1] }} <img src="/static/img/coin.svg" alt=""></li>
        <li>{{ data[2] }} XP</li>
    </ul>
    <script src="/static/js/profile.js"></script>
</main>

{% endblock %}