{% extends "template.html" %}

{% block title %} 
    <title>Game Summary</title> 
    <style>
        .xp {
            font-size: 3rem;
            margin: 10px 0;
        }
    </style>
{% endblock %}

{% block body %}
<br><br>
<div id="data" data-time="{{ data[0] }}" data-money="{{ data[1] }}" data-tnt="{{ data[2] }}"></div>
<h1>Game summary: </h1>

<h3 class="xp"></h3>
<br>
<h2></h2>
<br><br>
<a href="/leaderboards"><button>To leaderboards</button></a>
<script src="/static/summary.js"></script>

{% endblock %}