{% extends "template.html" %}

{% block title %} 
    <title>Tutorial</title> 
{% endblock %}

{% block body %}
    <ul>
        <li><p>Hýb sa pocou WASD</p></li>
        <li><p>Môžeš kopať IBA keď stojíš na zemi!</p></li>
        <li><p>Obchod odvoríš tak že v hre budeš stáť na zelených blokoch, stlačíš F11 (vypneš fullscreen), pozri sa dole na web a mal by si tam vidieť obchod!</p></li>
        <li><p>Predáš tak že pôjdeš do oranžovej zóny a klikneš Q</p></li>
        <li><p>Ak ti hra nejde spustiť, skús si to resetovať tlačidlom nižšie</p></li>
        <li><p>Tools (ak máš) sa používajú pomocou šípok</p></li>
    </ul>
{% endblock %}