{% extends "template.html" %}

{% block title %} 
    <title>Tutorial</title> 
    <style>
        @media screen and (max-width: 500px) {
            h1 {
                font-size: 2.2rem;
            }
            body {
                margin: 0 10px;
            }
            p {
                font-size: 1.1rem;
            }
        }
    </style>
{% endblock %}

{% block body %}
<br><br>
    <ul>
        <li><p>Hýb sa pocou WASD</p></li>
        <li><p>Môžeš kopať IBA keď stojíš na zemi! hint: polož pod seba tnt aby si sa dostal na vyššie miesta.</p></li>
        <li><p>Obchod odvoríš tak že v hre budeš stáť na zelených blokoch, stlačíš F11 (vypneš fullscreen), pozri sa dole na web a mal by si tam vidieť obchod!</p></li>
        <li><p>Predáš tak že pôjdeš do oranžovej zóny a klikneš Q</p></li>
        <li><p>Ak ti hra nejde spustiť, skús si to resetovať tlačidlom nižšie</p></li>
        <li><p>Tools (ak máš) sa používajú pomocou šípok</p></li>
    </ul>
    <h1>REWARD SYSTEM</h1>
    <p>Odmeny dostaneš za každý run len RAZ. (Ak si uložíš hru a dohráš to znova tak nedostaneš rewardy.)</p>
    <br>
    <p>MONEY = peniaze ktoré zarobíš celkovo za run</p>
    <p>TNT   = koľko tnt blokov si použil za hru.</p>
    <br>
    <h2>MONEY REWARD</h2>
    <p>AK MONEY - 1000 < 1000 : XP je 2, inak dostaneš 1 XP za každých 100 ktorých ostalo. (za každú začatú stovku)</p>
    <p>900 MONEY => 2XP</p>
    <p>1820 MONEY => 8XP</p>
    <p>1799 MONEY => 7XP</p>
    <br>
    <h2>TIME REWARD</h2>
    <p>Za každých začatých 20minút playtime dostaneš 1 XP.</p>
    <h2>TNT REWARD</h2>
    <p>TNT = počet TNT blokov, ktoré použiješ počas hry.</p>
    <p>Čím menej TNT použiješ, tým väčšiu odmenu dostaneš.</p>
    <br>
    <p>Ak použiješ menej ako 70 TNT → dostaneš <b>5 bodov</b>.</p>
    <p>Ak použiješ 70–99 TNT → dostaneš <b>4 body</b>.</p>
    <p>Ak použiješ 100–124 TNT → dostaneš <b>3 body</b>.</p>
    <p>Ak použiješ 125–149 TNT → dostaneš <b>2 body</b>.</p>
    <p>Ak použiješ 150 alebo viac TNT → dostaneš <b>1 bod</b>.</p>
    <br>
    <h3>XP = MONEY REWARD + TIME REWARD + TNT REWARD</h3>
    <h2>Coins je len náhodné číslo od 3 po 5. Dostaneš za každý dokončený run iba raz</h2>

    
{% endblock %}